@import './sections/hero_section.css';
@import './sections/bio_section.css';

.gb-main-title {
    text-align: center;
}

.gb-footer {
    min-height: 40px;
    width: 100%;
}

.gb-navbar {
    background: transparent !important;
    float: left !important;
    color: red !important;
    z-index: 50;
}
