@import './sections/hero_section.css';
@import './sections/bio_section.css';
@import './sections/contact_section.css';
@import './sections/other_sites_section.css';
@import './sections/tech_section.css';

.gb-main-title {
    text-align: center;
}

.gb-footer {
    min-height: 40px;
    width: 100%;
}

.gb-navbar {
    background: transparent !important;
    float: left !important;
    color: red !important;
    z-index: 50;
}

section {
    min-height: 10vh;
    padding-left: 15px;
    padding-right: 15px;
}

/*
section:nth-child(even) {
    background: #090c9b;
    color: #fcf7f8;
}
*/

.gb-tx-center {
    text-align: center;   
}

