
#gb-techs img {
    width: 100%;
    max-width: 100px;
}

.gb-techs__wrapper {
    margin-left: auto;
    margin-right: auto;
}

.tech-row img {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border-radius: 15px;
}

.active img {
    border: 3px solid #bbb;
}

.gb-tech {
    cursor: pointer;
}
